@charset "ISO-8859-1";

.background {
	background-color: orange;
}

.container {
	background-color: white;
}

img {
	max-width: 1190px;
	max-height: 900px;
	object-fit: cover;
}

.icon {
	width: 100px;
	height: 80px;
	object-fit: cover;
	background-color: white;
	margin-top: 10px;
}

.portfolio {
	margin-left: 100px;
	margin-right: 100px;
	background-color: white;
}

h2 {
	font-family: 'Monoton', cursive;
	word-spacing: 8px;
}

.links {
	margin-left: 10px;
	margin-right: 10px;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.img-deets {
	margin-left: 55px;
}

.border {
	margin-left: 55px;
}

.likers {
	margin-left: 55px;
	margin-right: 55px;
}

form {
	margin: 10px;
}
