@charset "ISO-8859-1";

.background {
	background-color: orange;
}

.hr {
	width: 1500px;
}

.container {
	background-color: white;
	position: relative;
	width: 80;
	padding: 10px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 5px;
}

.btn {
	margin-top: 10px;
}

h2 {
	text-align: center;
	font-family: 'Monoton', cursive;
}

h4 {
	font-style: italic;
	font-weight: lighter;
}

.icon {
	width: 100px;
	height: 80px;
	object-fit: cover;
	margin-top: 10px;
}