@charset "ISO-8859-1";

.background {
	background-color: orange;
}

.container {
	background-color: white;
	height: 1000px;
	padding: 10px;
}

input {
	margin-top: 10px;
}

h2 {
	text-align: center;
	font-family: 'Monoton', cursive;
}

.icon {
	width: 100px;
	height: 80px;
	object-fit: cover;
	background-color: white;
	margin-top: 10px;
}