@charset "ISO-8859-1";

.background {
	background-color: orange;
}

.container {
	background-color: white;
	max-width: 900px;
	height: 937px;
}

img {
	width: 280px;
	height: 280px;
	object-fit: cover;
	margin: 10px;
}

.icon {
	width: 100px;
	height: 80px;
	margin-top: 20px;
	object-fit: cover;
	background-color: white;
}

.portfolio {
	margin-left: 100px;
	margin-right: 100px;
	background-color: white;
	position: center;
}

h2 {
	text-align: center;
	font-family: 'Monoton', cursive;
}

.header {
	word-spacing: 8px;
}

.links {
	margin-left: 10px;
	margin-right: 10px;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

form {
	width: 500px;
}

.button {
	margin-top: 10px;
}