@charset "ISO-8859-1";

.background {
	background-color: orange;
}

.container {
	background-color: white;
}

.header {
	background-color: black;
}

img {
	width: 280px;
	height: 280px;
	object-fit: cover;
	margin: 10px;
}

.icon {
	width: 100px;
	height: 80px;
	object-fit: cover;
	background-color: white;
}

.portfolio {
	margin-left: 100px;
	margin-right: 100px;
	background-color: white;
}

.links {
	margin-left: 10px;
	margin-right: 10px;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	background-color: black;
}