@charset "ISO-8859-1";

.background {
	background-image: url("/images/pexels-steve-johnson-1572386.jpg");
}

.topper {
	margin-top: 50px;
	padding-top: 20px;
	border-radius: 5px;
}

.container {
	background-color: rgba(255, 255, 255, 0.65);
	position: relative;
	width: 80;
	border-radius: 10px;
}

h4 {
	font-family: 'Monoton', cursive;
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	width: 330px;
	height: 330px;
	object-fit: cover;
	margin: 10px;
}

.icon {
	width: 100px;
	height: 80px;
	object-fit: cover;
}

.portfolio {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 50px;
	border-radius: 5px;
}

h2 {
	text-align: center;
	font-family: 'Monoton', cursive;
}

.header {
	word-spacing: 8px;
}

.links {
	margin-left: 10px;
	margin-right: 10px;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.table {
	font-size: 20px;
}